@charset "UTF-8";
/* 
Base style 
*/
body {
  font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", "sans-serif";
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}
label , input , select , textarea ,button {
    cursor: pointer;/*マウスポインターをポインターにする(指マークになる）*/
}
button {
    border: 0;/*ボタンの枠線を消す*/
}
/* 
grid 
*/
.grid {
    margin: 0;/*ulタグにデフォルトでmarginがあるので0にする*/
    padding: 0;/*ulタグにデフォルトでpaddingがあるので0にする*/
    display: flex;
    align-items: center;/*display:flexの子要素を中央に配置する*/
    justify-content: center;/*display:flex; が指定されている場合に効果を発揮*/
}
.grid-item {
    list-style: none;/*デフォルトでlist-style（・）があるのでnoneにする*/
}
.grid-cols-2 > .grid-item {/*2カラムの場合*/ /* >は子孫要素を指定する*/
    width: 50%;
  }
.grid-cols-3 > .grid-item {/*3カラムの場合*/
    width: 33.33333333333333%;
  }
.grid-cols-4 > .grid-item {/*4カラムの場合*/
    width: 25%;
  }

/* 
section 
*/
.section {                    /* なるべく同じセクションを拡張するとコードがスッキリする */
  padding: 30px 15px;
}
.section-secondary {
  background-color: #efefef;
}
.section-headline {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 40px;
}
.section-button {
    margin-top: 40px;
    text-align: center;
}

/* 
about 
*/
.about {
  margin: 0;
  display: flex;
}
/*.about-image {}*/
.about-caption {
  padding-left: 15px;
}
.about-headline {
  margin: 0 0 20px;
  font-size: 30px;
}
/*.about-description {}*/

/* 
feature 
*/
.feature {
    text-align: center;
    padding: 0 15px;
}
.feature-headline {
    font-weight: bold   ;
    margin: 0 0 20px;
}
.feature-image {
    margin: 0 0 20px;
}
.feature-description {
    margin: 0;
    text-align: left;
}

/* 
card 
*/
.card {
    padding: 0 10px;
}
.card-link {
    display: block;/*リンクタグはインラインなのでブロック要素にする*/
    color: #333;/*リンクタグの色がデフォルトだと青なので#333にする*/
    text-decoration: none;/*リンクタグのデフォルトのアンダーラインを消す*/
    position: relative;/*子要素の基準位置になる。絶対配置するために必要*/
    transition: background-color .25s;/*背景色を0.25秒で変化させる*/
}
.card-link:hover {
    background-color: #eee;/*ホバーしたら背景色を#eeeにする*/
}
.card-label {
    position: absolute;/*relativeの子要素。絶対配置にする*/
    left: 0;
    top: 0;
    background-color: #999;
    color: #fff;
    display: block;
    padding: 5px 10px;
    font-size: 12px;
}
.card-image {
    width: 100%;/*横幅を親要素いっぱいに広げる*/
    height: auto;/*縦幅を自動調整して、画像の比率を維持する*。縦幅を固定してしまうと、画像が歪んで表示されることがある。
    auto を指定すると、横幅の変化に応じて縦幅も自然に変わるため、画像が歪むことがない。*/
}
.card-info {
    padding:5px 10px;
}
/*.card-time {}*/
.card-headline {
    margin:0;
}

/* 
avator 
*/
.avator {
    display: flex;
    flex-direction: row-reverse;/*子要素を逆順に配置する*/
    align-items: center;/*子要素を中央に配置する*/
    justify-content: start;/*子要素を左に配置する*/
    padding: 10px;
}
.avator-name {
    font-weight: bold;
    padding-left: 15px;
}
.avator-image {
    margin: 0;
    border-radius: 50%;
    overflow: hidden;/* border-radiusとoverflowを同時に指定すると、角丸になる*/
}

/* 
button 
*/  
.button{
    display: inline-block;/*インライン要素でありブロックレベル要素の振る舞いもできる。上下左右にpadding,marginが効く*/
    color: #fff;/*ボタンの文字色*/
    font-weight: bold;/*ボタンの文字を太くする*/
    background-color: #333;/*ボタンの背景色*/
    text-align: center;/*ボタンの文字を中央に配置する*/
    padding: 15px 60px;/*ボタンの余白*/
    text-decoration: none;/*ボタンのデフォルトのアンダーラインを消す*/
    border-radius: 5px;/*ボタンの角を丸くする*/
    box-shadow: 5px 5px 0 #bbb; /*ボタンの影*/
    transition: box-shadow .25s;/*ボタンの影を0.25秒で変化させる*/
}
.button:hover {
    box-shadow: 0 0 0 #bbb; /*ボタンの影を消す*/
}
.button.button-submission {
    background-color: #92d3ca;
}
/* 
.serect, .input , .radio, .textarea
*/

.select {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 500px;/*横幅を最低でも500pxに維持する*/
}
.input {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 500px;
}
.radio {
    margin: 0 10px;
}
.textarea {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 500px;
    min-height: 100px;/*縦幅を最低でも100pxに維持する*/
}

/*
form
*/
/*.form{}*/
.form-table {
    margin: 0 auto;/*ブロックレベル要素を中央寄せしたい時によく使う。中央に配置する。ブロックレベル要素のタグに対して、marginが上下は０だけど、左右をautoにすると中央寄せになる*/   
}
/*.form-table tr {*/
.form-table th {
    text-align: 10px;/*表の見出しを右寄せにする*/
}
.form-table td {
    padding: 10px;/*表のデータを左寄せにする*/
}
.form-button {
    margin-top: 20px;
    text-align: center;
}

/*
works
*/
.works {
    margin: 40px;
    padding: 20px;
    text-align: center;
}
.works > img {
    margin: 0 15px;
}