@charset "UTF-8";
/* Base style */
body {
  font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", "sans-serif";
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}
/* 
section 
*/
.section {                    /* なるべく同じセクションを拡張するとコードがスッキリする */
  padding: 30px 15px;
}
.section-secondary {
  background-color: #efefef;
}
.section-headline {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 40px;
}
/* 
about 
*/
.about {
  margin: 0;
  display: flex;
}
/*.about-image {}*/
.about-caption {
  padding-left: 15px;
}
.about-headline {
  margin: 0 0 20px;
  font-size: 30px;
}
/*.about-description {}*/
.grid {
    margin: 0;/*ulタグにデフォルトでmarginがあるので0にする*/
    padding: 0;/*ulタグにデフォルトでpaddingがあるので0にする*/
    display: flex;
    align-items: center;/*display:flexの子要素を中央に配置する*/
    justify-content: center;/*display:flex; が指定されている場合に効果を発揮*/
}
.grid-item {
    list-style: none;/*デフォルトでlist-style（・）があるのでnoneにする*/
}
.grid-col-2 > .grid-item {/*2カラムの場合*/ /* >は子孫要素を指定する*/
    width: 50%;
  }
.grid-col-3 > .grid-item {/*3カラムの場合*/
    width: 33.333333%;
  }
.grid-col-4 > .grid-item {/*4カラムの場合*/
    width: 25%;
  }